<div class="start">
    <section layout="row" layout-align="center center">
    <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-header class="activity-header">
                <md-card-avatar>
                    <img src="{{vm.gurl}}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title activity-title">{{ vm.activityTitle }}</span>
                    <span class="activity-subhead">..be advised</span>
                </md-card-header-text>
                <md-card-avatar>
                    <md-menu-bar >
                        <md-menu >
                            <button ng-click="$mdOpenMenu()" style="padding:0;background-color:#483b9d">
                                <md-icon md-svg-src="img/icons/menu.svg" style="margin-left:0px;"></md-icon>
                            </button>
                            <md-menu-content>
                                <div class="menu-start">
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary" >Share</md-button>
                                        <md-button class="md-raised md-primary">Learn</md-button>
                                        <md-button class="md-raised md-primary" href="#/list-elements">Analyze</md-button>

                                    </section>
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary"></md-button>
                                        <md-button class="md-raised md-primary"></md-button>
                                        <md-button class="md-raised md-primary"></md-button>

                                    </section>
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary">Plan </md-button>
                                        <md-button class="md-raised md-primary">Perform</md-button>
                                        <md-button class="md-raised md-primary" href="#/evaluate">Evaluate</md-button>
                                    </section>

                                </div>

                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>

                </md-card-avatar>
            </md-card-header>

            <md-card-content>
                <p>{{ vm.activityText }}</p>
            </md-card-content>
        </md-card>

    </div>
        </section>

</div>