<div class="start">
    <div layout="row" layout-wrap class="panel">
        <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 2</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Oct 24,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Relationship</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/37">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/38">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/39">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Relations pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/40" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Relation Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/41">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/42">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 2</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/43">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/44">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/dayoff0">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div>

        <!-- <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 2</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Oct 24,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Relationship</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/46">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/47">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/48">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Relations pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/49" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Relation Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/50">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/51">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 2</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/52">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/53">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/54">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div> -->
    </div>
</div>