<md-content class="Page-Container DemoHeader ">
    <div layout="row" >
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between">
                <div layout="row" layout-align="center center">
                    <a  href="#/"><img src="img/logo-1.png"></a>
                    <div>
                        <h2 style="margin: 2px; color: red"> <span>Innernaut</span></h2>
                        <h4 style="margin: 2px; font-style: italic; color: #00A4C6">Leadership by being yourself</h4>
                    </div>
                </div>
                <div layout="row" layout-align="center stretch">

                    <!--<a hide-xs class="DemoHeader-link md-subhead" href="#/create-activity">-->
                        <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
                    <!--</a>-->
                    <md-menu-bar >
                        <md-menu >
                            <button ng-click="$mdOpenMenu()" style="padding:0;background-color:white">
                                <md-icon md-svg-src="img/icons/menu.svg" style="margin-left:0px;"></md-icon>
                            </button>
                            <md-menu-content>
                                <div class="menu-start">
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary" >Share</md-button>
                                        <md-button class="md-raised md-primary">Learn</md-button>
                                        <md-button class="md-raised md-primary" href="#/list-elements">Analyze</md-button>

                                    </section>
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary"></md-button>
                                        <md-button class="md-raised md-primary"></md-button>
                                        <md-button class="md-raised md-primary"></md-button>

                                    </section>
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary">Plan </md-button>
                                        <md-button class="md-raised md-primary">Perform</md-button>
                                        <md-button class="md-raised md-primary" href="#/evaluate">Evaluate</md-button>
                                    </section>

                                </div>

                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                    <!--<a hide-xs class="DemoHeader-link md-subhead" href="#/create-post">Posts</a>-->
                    <!--<md-button href="#/create-activity" class="md-icon-button md-primary" aria-label="Settings">-->
                    <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
                    <!--</md-button>-->
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>