
<div class="start">

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <h1 >Functions</h1>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button class="md-raised md-primary" >Share</md-button>
        <md-button class="md-raised md-primary">Learn</md-button>
        <md-button class="md-raised md-primary" href="#/list-elements">Analyze</md-button>

    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button class="md-raised md-primary"></md-button>
        <md-button class="md-raised md-primary"></md-button>
        <md-button class="md-raised md-primary"></md-button>

    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button class="md-raised md-primary">Plan </md-button>
        <md-button class="md-raised md-primary">Perform</md-button>
        <md-button class="md-raised md-primary" href="#/evaluate">Evaluate</md-button>
    </section>

</div>
