<div class="start">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <h1>Day</h1>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <div class ="button-div">
            <a href="#/day0">
                <img src="img/Day/day0.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">Day Zero</h4>
        </div>
        <div class ="button-div">
            <a  href="#/days/1">
                <img src="img/Day/day1.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center"><a href="#/days/1">D1 Goal</a></h4>
        </div>
        <div class ="button-div">
            <a  href="#/days/2">
                <img src="img/Day/day2.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D2 Relations</h4>
        </div>

    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <div class ="button-div">
            <a  href="#/days/3">
                <img src="img/Day/day3.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D3 Focus</h4>
        </div>
        <div class ="button-div">
            <a  href="#/days/4">
                <img src="img/Day/day4.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D4 Emotion</h4>
        </div>
        <div class ="button-div">
            <a  href="#/days/5">
                <img src="img/Day/day5.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D5 Insight</h4>
        </div>

    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <div class ="button-div">
            <a  href="#/days/6">
                <img src="img/Day/day6.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D6 Behavior</h4>
        </div>
        <div class ="button-div">
            <a  href="#/days/7">
                <img src="img/Day/day7.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D7 Creation</h4>
        </div>
        <div class ="button-div">
            <a  href="#/days/8">
                <img src="img/Day/day8.png" class="button-width">
            </a>
            <h4 class="button-label" layout-align="center center">D8 Adaptaition</h4>
        </div>

    </section>
</div>