<div class="start">
    <div layout="row" layout-wrap class="panel">
        <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 5</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Nov 20,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Insight</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/91">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/92">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/93">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Insight pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/94" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Insight Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/95">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/96">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 5</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/97">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/98">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/99">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div>

        <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 5</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Nov 20,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Insight</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/100">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/101">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/102">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Insight pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/103" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Insight Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/104">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/105">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 5</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/106">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/107">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/108">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div>
    </div>
</div>