<div class="start">
    <div layout="row" layout-wrap class="panel">
        <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 1</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Oct 12,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Goal</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/19">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/20">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/21">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Goal pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/22" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Goal Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/23">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/24">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 1</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/25">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/26">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/27">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div>

        <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 1</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Oct 12,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Goal</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/28">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/29">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/30">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Goal pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/31" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Goal Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/32">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/33">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 1</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/34">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/35">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/36">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div>
    </div>
</div>