<div class="start">
    <div layout="row" layout-wrap class="panel">
        <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 7</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Dec 04,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Create. Leadership 1</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/127">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/128">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/129">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Leadership 1 pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/130" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Creative Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/131">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/132">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 6</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/133">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/134">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/dayoff0">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div>

        <!-- <div flex="49" >
            <md-card class="card">
                <md-card-content>
                    <section layout="row" layout-align="center center">
                        <div>
                            <h3 class="day-label1">Day 7</h3>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span style="color: #00A000">Dec 04,18:00</span>
                        </div>
                    </section>
                    <section layout="row" layout-align="center center" class="day-section">
                        <div>
                            <span class="day-label1">Create. Leadership 1</span>
                        </div>
                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/136">
                                <img src="img/activity/Daystart.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">1. Day start + Roles</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/137">
                                <img src="img/activity/Presentation.png" class="day-button">

                            </a>
                        </div >
                        <span class="day-label1" flex="50">2. Self-presentation</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/138">
                                <img src="img/activity/Pitch.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">3. Leadership 1 pitch</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/139" >
                                <img src="img/activity/exercise.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">4. Creative Exercize</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/140">
                                <img src="img/activity/parliament.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">5. Parliament</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/141">
                                <img src="img/activity/system.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">6. system 6</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/142">
                                <img src="img/activity/focus.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">7. Focusing</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/143">
                                <img src="img/activity/rose.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">8. The Rose</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>
                    <section layout="row" class="day-section">
                        <div flex="30">
                            <a  href="#/activity/144">
                                <img src="img/activity/assignment.png" class="day-button">

                            </a>
                        </div>
                        <span class="day-label1" flex="50">9. Mission assignment</span>
                        <span class="day-label2" flex="19">3 min/pers</span>

                    </section>

                </md-card-content>
            </md-card>
        </div> -->
    </div>
</div>