<div class="start">
    <section layout="row" layout-align="center center">
    <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-header class="activity-header">
                <md-card-avatar>
                    <img src="{{vm.gurl}}">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title activity-title">{{ vm.activityTitle }}</span>
                    <span class="activity-subhead">..be advised</span>
                </md-card-header-text>
                <md-card-avatar>
                    <md-menu-bar >
                        <md-menu >
                            <button ng-click="$mdOpenMenu()" style="padding:0;background-color:#483b9d">
                                <md-icon md-svg-src="img/icons/menu.svg" style="margin-left:0px;"></md-icon>
                            </button>
                            <md-menu-content>
                                <div class="menu-start">
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary">Share</md-button>
                                        <md-button class="md-raised md-primary">Learn</md-button>
                                        <md-button class="md-raised md-primary" href="#/list-elements">Analyze</md-button>

                                    </section>
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary"></md-button>
                                        <md-button class="md-raised md-primary"></md-button>
                                        <md-button class="md-raised md-primary"></md-button>
                                    </section>
                                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                        <md-button class="md-raised md-primary">Plan </md-button>
                                        <md-button class="md-raised md-primary">Perform</md-button>
                                        <md-button class="md-raised md-primary" href="#/activities/{{ vm.activity_id }}/evaluate">Evaluate</md-button>
                                    </section>

                                </div>

                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>

                </md-card-avatar>
            </md-card-header>

            <md-card-content>
                <p>
                    There is one very special type of personality, called psychopaths (similar to sociopaths).
                </p>
                <p>
                    You will most probably meet one, or maybe you already have. If you have, you will likely not forget it.
                    To meet a psychopath is usually a very traumatic experience.

                </p>
                <p>
                    The fascinating yet terrifying thing with psychopaths is that almost none of us can detect it.
                    Most of us would be very much charmed by them.
                </p>
                <p>
                    Then, suddenly and unexpectedly the charmer and “friend” can turn your life into a real inferno!
                </p>

                <p>
                    The basics of identifying psychopaths are something you and anybody else should know.
                    One of the extracurricular activities in this program is the “psychopath school”.
                </p>
                <p>
                    Of course not to learn how to be one but how to see one ;) 
                </p>
                <!--<p>{{vm.activityText}}</p>-->
            </md-card-content>
        </md-card>

    </div>
        </section>

</div>