.evaluate-back{

  background-color: #332093;

}
.evaluate-back md-tabs {
  background-color: white;
  border: 1px solid #4d57e1; }
.evaluate-back md-tabs md-tabs-wrapper {
                background: #6B7C93;
                }
.qbutton-width{

  width:100px;
}
.evaluate-width{

  width:500px;
}