<div class="evaluate-back">
    <md-tabs md-dynamic-height="" md-border-bottom="">
    <md-tab label="Single Question">
        <md-content class="md-padding">
            <div style="margin-top: 50px;"></div>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <h1>Answer The Question</h1>
                <div style="margin-top: 50px;"></div>

            </section>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <!--<div flex="20" ng-repeat="question in vm.questions.questions">-->

                <h2>{{vm.firstquestions}}</h2>
                <!--</div>-->
            </section>
            <form ng-submit="vm.singleQuestion()">
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.answer" step="1" min="0" max="100" aria-label="red" id="red-slider">
                    </md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>

                </section>
                <!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <div style="margin-top: 50px;"></div>
                    <h1 >Option</h1>
                    <md-input-container>
                        <label>Giver</label>
                        <input type="text" ng-model="vm.giver">
                    </md-input-container>
                    <md-input-container>
                        <label>Taker</label>
                        <input type="text" ng-model="vm.taker">
                    </md-input-container>
                    <md-input-container>
                        <label>Day (you only select from 1 to 9)</label>
                        <input type="text" ng-model="vm.day">
                    </md-input-container>
                </section> -->
                <div style="margin-top: 50px;"></div>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button type="submit" class="md-primary md-raised">save</md-button>
                </section>

            </form>
        </md-content>
    </md-tab>
    <md-tab label="3*3 Question">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <h1 class="md-display-2">3*3 Question</h1>

        </section>


                <!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="md-raised qbutton-width " ng-click="vm.three(1)">Motivation</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(2)">control</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(3)">Relations</md-button>

                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(4)">Emotion</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(5)">Insight</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(6)">Functions</md-button>

                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(7)">Adaptation </md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(8)">Change</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(9)">Balance</md-button>
                </section> -->
        <md-content class="md-padding">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <!--<div flex="20" ng-repeat="question in vm.questions.questions">-->
                <img src="img/gquestion.png">
                <h2>{{ vm.secondquestions }}</h2>
                <!--</div>-->
            </section>
            <form ng-submit="vm.submit33Question()">
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    MOTIVATION
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer1" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>

                    <br>
                </section>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    CONTROL
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer2" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    RELATIONS
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer3" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    EMOTION
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer4" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    INSIGHT
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer5" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    FUNCTIONS
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer6" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    ADAPTATION
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer7" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    CHANGE
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer8" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <img src="img/gquestion.png">
                    BALANCE
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/down.png">
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="vm.t3answer9" step="1" min="0" max="100" aria-label="rating"></md-slider>
                    <div flex="10" layout="" layout-align="center center">
                        <img src="img/hand/up.png">
                    </div>
                    <br>
                </section>


                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">

                    <div style="margin-top: 50px;"></div>

                </section>
                <div style="margin-top: 50px;"></div>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button type="submit" class="md-primary md-raised">save</md-button>
                </section>

            </form>
        </md-content>
    </md-tab>
    <md-tab label="3*3*2 Question">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
            <h1 class="md-display-2">3*3*2  Question</h1>

        </section>

        <md-content class="md-padding">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <!--<div flex="20" ng-repeat="question in vm.questions.questions">-->
                <img src="img/gquestion.png">
                <h2>{{vm.secondquestions}}</h2>
            </section>
            <form ng-submit="vm.submit332Question()">
                <!-- ng-repeat="(key, value) in vm.items" -->
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Motivation</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer1a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer1b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Control</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer2a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer2b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Relations</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer3a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer3b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Emotions</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer4a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer4b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Insight</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer5a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer5b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Functions</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer6a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer6b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Adaptation</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer7a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer7b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Change</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer8a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer8b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <p flex="10"></p>
                    <h3 flex="10">Balance</h3>
                    <div flex="80">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            A  <md-slider flex="" md-discrete="" ng-model="vm.t3answer9a" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/down.png">
                            </div>
                            B  <md-slider flex="" md-discrete="" ng-model="vm.t3answer9b" step="1" min="0" max="100" aria-label="rating">
                            </md-slider>
                            <div flex="10" layout="" layout-align="center center">
                                <img src="img/hand/up.png">
                            </div>
                        </section>
                    </div>
                    <p flex="9"></p>
                </section>



                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">

                    <div style="margin-top: 50px;"></div>

                </section>
                <div style="margin-top: 50px;"></div>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button type="submit" class="md-primary md-raised">save</md-button>
                </section>

            </form>
        </md-content>
    </md-tab>
        <md-tab label="Group Scan">
            <md-content class="md-padding">
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <h1 class="md-display-2">Group Scan</h1>
                </section>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="md-raised qbutton-width " ng-click="vm.three(1)">Motivation</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(2)">control</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(3)">Relations</md-button>

                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(4)">Emotion</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(5)">Insight</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(6)">Functions</md-button>

                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(7)">Adaptation </md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(8)">Change</md-button>
                    <md-button class="md-raised qbutton-width" ng-click="vm.three(9)">Balance</md-button>
                </section>
                <md-content class="md-padding">
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                        <!--<div flex="20" ng-repeat="question in vm.questions.questions">-->
                        <img src="img/gquestion.png">
                        <h2>{{vm.secondquestions}}</h2>
                        <!--</div>-->
                    </section>
                    <form ng-submit="vm.groupScan()">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <p flex="10"></p>
                            <h3 flex="10">Ruslan</h3>
                            <div flex="80">
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer1" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer2" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                            </div>
                            <p flex="9"></p>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <p flex="10"></p>
                            <h3 flex="10">Siv</h3>
                            <div flex="80">
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer3" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer4" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                                <p flex="9"></p>
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <p flex="10"></p>
                            <h3 flex="10">Anna</h3>
                            <div flex="80">
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer5" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer6" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                                <p flex="9"></p>
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <p flex="10"></p>
                            <h3 flex="10">Peter</h3>
                            <div flex="80">
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer7" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/down.png">
                                    </div>
                                    <md-slider flex="" md-discrete="" ng-model="vm.answer8" step="1" min="0" max="100" aria-label="rating">
                                    </md-slider>
                                    <div flex="10" layout="" layout-align="center center">
                                        <img src="img/hand/up.png">

                                    </div>

                                </section>
                            </div>
                            <p flex="9"></p>
                        </section>

                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">

                            <div style="margin-top: 50px;"></div>

                        </section>
                        <div style="margin-top: 50px;"></div>
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                            <md-button type="submit" class="md-primary md-raised">save</md-button>
                        </section>

                    </form>
                </md-content>
            </md-content>
        </md-tab>
</md-tabs>
</div>